<section class="plateau">
	<section class='plateauBanque'>
		<div class='verso_bckg'>
			<img onClick='nvCarte();' src='/img/verso.png' class='verso cardBJ' alt='carte de la banque' />
		</div>
		<div id='scoreBanque'></div>
		<div id='cartes_banque' style='display: flex;position: relative;'></div>
	</section>
	<section class='plateauJoueurs'>
		<!-- --------------------------PLAYER 1-------------------------- -->
		<section>
			<div class='mainJoueur' id="cartes_joueur_1"></div>
			<a id='valeur_cartes_joueur_1' onClick='activerJoueur(1);'>New player</a>
			<div class="commandeJoueur">
				<div id='cash_joueur_1'></div>
				<div id='mise_joueur_1'></div>
				<div class="hitAndDoubleDown">
					<div id='hit_joueur_1'></div>
					<div id='doubleDown_joueur_1'></div>
				</div>
				<div id='annonce_joueur_1'></div>
			</div>
		</section>
	</section>
</section>
<script src="/js/blackjack.js"></script>