<h2 class="morpion">Morpion</h2>
<section class="morpion">
    <table>
        <tr>
            <td><img></td>
            <td><img></td>
            <td><img></td>
        </tr>
        <tr>
            <td><img></td>
            <td><img></td>
            <td><img></td>
        </tr>
        <tr>
            <td><img></td>
            <td><img></td>
            <td><img></td>
        </tr>
    </table>
</section>

<article class="morpion">
    <h3>Player <joueur>1</joueur>'s turn' !</h3>
</article>

<script src="/js/morpion.js"></script>
